.project-overview {
	margin: 40px 0;
	padding: 20px;
	display: flex;
	flex-direction: row; /* Align items side by side */
	justify-content: space-between;
	align-items: flex-start;
}

.project-content {
	flex: 1;
	padding-right: 20px;
	margin-left: 3rem;
}

.project-header {
	align-items: center;
	color: var(--color-text);
	margin-right: 20px;
}

.project-header h2 {
	color: #333;
	font-size: 4rem;
	font-weight: 900;
}

.project-header h3 {
	margin-right: 10px;
	margin-bottom: 2.5vh;
	font-size: 1.8rem;
	color: #333;
}

.project-details {
	margin-top: 20px;
}

.project-details h4 {
	font-size: 1.8rem;
	font-weight: bold;
	color: #555;
}

.project-details p {
	font-size: 1.5rem;
	color: #555;
	margin: 10px 0;
	max-width: 670px;
	text-align: justify;
}

.project-category {
	margin-top: 20px;
}

.project-category h4 {
	margin-top: 20rem;
	font-size: 3rem;
	font-weight: bold;
	color: #333;
}

.project-images {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.parallax-image {
	width: 300px;
	margin: 20px 0;
	position: relative;
}

.parallax-image img {
	width: 100%;
	height: auto;
	display: block;
}

/* Adjust flex basis for responsiveness */
@media (max-width: 768px) {
	.project-overview {
		flex-direction: column;
	}

	.project-content,
	.project-images {
		flex: unset;
		padding-right: 0;
	}
}
