.home {
	position: relative;
	height: 100vh; /* Full height of the viewport */
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.presentation {
	padding-left: 5vh; /* Add desired left padding */
	text-align: left; /* Align text to the left */
	color: white;
	z-index: 1;
}

.name {
	font-size: 5.5rem;
}

.description {
	font-size: 2rem;
}

.social-icons {
	margin-top: 20px;
}

.social-icons a {
	color: white;
	margin-right: 35px;
	font-size: 2.5rem;
	transition: color 0.3s;
}

.social-icons a:hover {
	color: var(--color-primary);
}

.spline-container {
	position: absolute;
	top: 0vh;
	left: 0;
	width: 100%; /* Cover the entire width */
	height: 100%; /* Cover the entire height */
}

.scroll-indicator {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	color: white;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}
