.navbar {
	display: flex;
	justify-content: space-between; /* Ensures space between the logo and links */
	align-items: center; /* Aligns items vertically */
	padding: 10px 3.5vh;
	background-color: transparent;
	color: var(--color-text);
	font-family: var(--font-family-mono);
}

.navbar-links {
	list-style: none;
	display: flex;
	align-items: center; /* Ensures the items are aligned vertically */
	margin: 0;
	padding: 0;
}

.navbar-links li {
	margin: 0 15px;
}

.navbar-links li a {
	text-decoration: none;
	color: var(--color-text);
	font-size: 1.2rem;
	transition: color 0.3s;
	display: flex;
	padding: 0;
}

.navbar-links li a:hover {
	color: var(--color-primary);
}

.navbar-contact {
	display: flex;
	align-items: center;
}

.navbar-contact img {
	margin-left: 10px;
}

.hamburger {
	display: none;
	cursor: pointer;
	font-size: 2rem;
}

/* Define the fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.navbar-links.active li {
	animation: fadeIn 0.5s ease-in-out;
}
@media only screen and (max-width: 1200px) {
	.hamburger {
		display: block; /* Show hamburger menu on tablets and smaller screens */
	}

	.navbar-links {
		display: none; /* Hide links by default */
		flex-direction: column;
		width: 100%;
		background-color: transparent; /* Keep background color transparent */
		position: absolute;
		top: 60px; /* Adjust based on navbar height */
		left: 0;
		padding: 10px 20px;
	}

	.navbar-links.active {
		display: flex; /* Show links when active */
	}

	.navbar-links.active li {
		animation: fadeIn 0.5s ease-in-out; /* Apply fade-in animation */
	}

	.navbar-links li {
		width: 100%;
		margin: 10px 0;
		text-align: left;
	}
}

@media only screen and (max-width: 600px) {
	.hamburger {
		display: block; /* Show hamburger menu on big smartphones and smaller screens */
	}

	.navbar-links {
		display: none; /* Hide links by default */
		flex-direction: column;
		width: 100%;
		background-color: transparent; /* Keep background color transparent */
		position: absolute;
		top: 60px; /* Adjust based on navbar height */
		left: 0;
		padding: 10px 20px;
	}

	.navbar-links.active {
		display: flex; /* Show links when active */
	}

	.navbar-links.active li {
		animation: fadeIn 0.5s ease-in-out; /* Apply fade-in animation */
	}

	.navbar-links li {
		width: 100%;
		margin: 10px 0;
		text-align: left;
	}
}

@media only screen and (max-width: 425px) {
	.hamburger {
		display: block; /* Show hamburger menu on small smartphones */
	}

	.navbar-links {
		display: none; /* Hide links by default */
		flex-direction: column;
		width: 100%;
		background-color: transparent; /* Keep background color transparent */
		position: absolute;
		top: 60px; /* Adjust based on navbar height */
		left: 0;
		padding: 10px 20px;
	}

	.navbar-links.active {
		display: flex; /* Show links when active */
	}

	.navbar-links.active li {
		animation: fadeIn 0.5s ease-in-out; /* Apply fade-in animation */
	}

	.navbar-links li {
		width: 100%;
		margin: 10px 0;
		text-align: left;
	}
}
