:root {
	--font-family-mono: "Roboto Mono", monospace;
	--font-family-sans: "Roboto", sans-serif;
	--color-primary: #007bff;
	--color-background: #222;
	--color-text: #fff;
	--color-secondary-text: #333;
	--color-link-hover: #6e26e2;
	--color-highlight: #29ae80;
	--border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family-sans);
	background-color: var(--color-background);
	color: var(--color-text);
	line-height: 1.6;
}

a {
	color: var(--color-text);
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: var(--color-link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-mono);
	margin: 0 0 10px 0;
}

p {
	margin: 0 0 10px 0;
	font-family: var(--font-family-mono);
}

button {
	font-family: var(--font-family-mono);
	background: none;
	border: 2px solid var(--color-primary);
	color: var(--color-primary);
	padding: 10px;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	background-color: var(--color-primary);
	color: var(--color-text);
}

.happy-mac {
	height: 100vh;
	width: 100%;
	background-color: #dcf7ff;
	display: flex;
	justify-content: center;
	align-items: center;
}
